<!-- <div class="contents row">
  <%= form_tag("/blogs/#{@blog.id}", method: :patch) do %>
    <h3>
      編集する
    </h3>
    <textarea cols="30" name="text" placeholder="text" rows="10"><%= @blog.text %></textarea>
    <input class="btn pink" type="submit" value="送信">
  <% end %>
</div>
 -->
<div class="contents row">
  <%= form_for(@blog) do |f| %>
    <h3>
      編集する
    </h3>

    <%= f.text_field :text, placeholder: "text", class: "materialize-textarea", cols: "1" %>
    <%= f.submit "送信", class: "btn pink" %>
  <% end %>
</div>
